In [14]:
import pandas as pd
import datetime



def listeDates(s,f):
    D=[]
    start = s
    end = f
    date_generated = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]

    for date in date_generated:
        D.append(date.strftime("%Y-%m-%d"))
    return D


def Fonction(s,f,m):
    L=listeDates(s,f)

    #L=['2020-05-0'+str(j) for j in range(1,10)]+['2020-05-'+str(j) for j in range(10,32)]+['2020-06-0'+str(j) for j in range(1,10)]+['2020-06-'+str(j) for j in range(10,31)]+['2020-07-0'+str(j) for j in range(1,10)]+['2020-07-'+str(j) for j in range(10,15)]
    df=pd.DataFrame(columns=['Date','Tot cases','New cases','Tot Deaths','New Deaths','Total Recovered','Active Cases','Serious','Tot C par million','Deaths par million','Total Test','Tot T par million'])
    M=pd.DataFrame(columns=['Date','Tot cases','New cases','Tot Deaths','New Deaths','Total Recovered','Active Cases','Serious','Tot C par million','Deaths par million','Total Test','Tot T par million'])
    for i in L:
        base=pd.read_csv("fichier_base"+i+".csv")
        Mor=base.where(base['Country']=='Morocco').dropna()
        df=df.append(Mor,ignore_index = True)
    
    df['Date']=L
    df.to_csv("MarocStat-"+m+".csv")

    
    
    
    
def FonctionCountry(s,f,m):
    L=listeDates(s,f)

    #L=['2020-05-0'+str(j) for j in range(1,10)]+['2020-05-'+str(j) for j in range(10,32)]+['2020-06-0'+str(j) for j in range(1,10)]+['2020-06-'+str(j) for j in range(10,31)]+['2020-07-0'+str(j) for j in range(1,10)]+['2020-07-'+str(j) for j in range(10,15)]
    df=pd.DataFrame(columns=['Date','Tot cases','New cases','Tot Deaths','New Deaths','Total Recovered','Active Cases','Serious','Tot C par million','Deaths par million','Total Test','Tot T par million'])
    M=pd.DataFrame(columns=['Date','Tot cases','New cases','Tot Deaths','New Deaths','Total Recovered','Active Cases','Serious','Tot C par million','Deaths par million','Total Test','Tot T par million'])
    for i in L:
        base=pd.read_csv("fichier_base"+i+".csv")
        Mor=base.where(base['Country']==m).dropna()
        df=df.append(Mor,ignore_index = True)

    
    df['Date']=L
    df['New Recov'] = df['New Recov'].fillna(0)
    df.to_csv("CovPerCountry//csv//Stat-"+m+".csv")
    df.to_json("CovPerCountry//json//Stat-"+m+".json")
    

L=list(pd.read_csv("fichier_base2020-07-15.csv")['Country'])


s=datetime.datetime.strptime("2020-05-01", "%Y-%m-%d")
f=datetime.datetime.today()
for Country in L:
    print(Country)
    try :
        FonctionCountry(s,f,Country)
    except :
        continue

USA
Brazil
India
Russia
Peru
Chile
Mexico
South Africa
Spain
UK
Iran
Pakistan
Italy
Saudi Arabia
Turkey
Germany
Bangladesh
France
Colombia
Canada
Argentina
Qatar
Egypt
Iraq
Indonesia
Sweden
Ecuador
Belarus
Kazakhstan
Belgium
Oman
Philippines
Kuwait
UAE
Ukraine
Netherlands
Bolivia
Panama
Dominican Republic
Portugal
Singapore
Israel
Poland
Afghanistan
Bahrain
Romania
Nigeria
Switzerland
Armenia
Guatemala
Honduras
Ireland
Azerbaijan
Ghana
Japan
Algeria
Moldova
Serbia
Austria
Nepal
Morocco
Cameroon
Uzbekistan
S. Korea
Czechia
Ivory Coast
Denmark
Kyrgyzstan
Kenya
El Salvador
Sudan
Australia
Venezuela
Norway
Costa Rica
Malaysia
North Macedonia
Senegal
DRC
Ethiopia
Bulgaria
Bosnia and Herzegovina
Finland
Palestine
Haiti
Tajikistan
French Guiana
Guinea
Gabon
Madagascar
Mauritania
Luxembourg
Djibouti
CAR
Hungary
Croatia
Greece
Albania
Thailand
Paraguay
Nicaragua
Somalia
Equatorial Guinea
Maldives
Mayotte
Sri Lanka
Malawi
Lebanon
Cuba
Mali
Congo
South Sudan
Estonia
Slovakia
Iceland
Zambia
Lithuania
Slovenia
Guinea-Bissau
Cabo Verde
Sierra Leone
Libya
Hong Kong
New Zealand
Yemen
Rwanda
Eswatini
Benin
Mozambique
Tunisia
Montenegro
Jordan
Latvia
Niger
Zimbabwe
Uganda
Burkina Faso
Liberia
Cyprus
Georgia
Uruguay
Namibia
Chad
Andorra
Suriname
Jamaica
Togo
Sao Tome and Principe
Diamond Princess
San Marino
Malta
Réunion
Channel Islands
Angola
Tanzania
Syria
Taiwan
Botswana
Vietnam
Mauritius
Myanmar
Isle of Man
Comoros
Guyana
Burundi
Mongolia
Lesotho
Martinique
Eritrea
Cayman Islands
Guadeloupe
Faeroe Islands
Gibraltar
Cambodia
Bermuda
Brunei
Trinidad and Tobago
Bahamas
Monaco
Aruba
Barbados
Seychelles
Liechtenstein
Bhutan
Sint Maarten
Antigua and Barbuda
Turks and Caicos
Gambia
French Polynesia
Macao
Saint Martin
Belize
St. Vincent Grenadines
Curaçao
Fiji
Timor-Leste
Grenada
New Caledonia
Saint Lucia
Laos
Dominica
Saint Kitts and Nevis
Falkland Islands
Greenland
Montserrat
Vatican City
Papua New Guinea
Western Sahara
MS Zaandam
Caribbean Netherlands
British Virgin Islands
St. Barth
Anguilla
Saint Pierre Miquelon
China

In [7]:
s=datetime.datetime.strptime("2020-07-01", "%Y-%m-%d")
f=datetime.datetime.today()
Fonction(s,f,"07")

In [3]:
import pandas as pd
df=pd.read_csv('CovPerCountry/csv/Stat-Mexico.csv')
df

,Unnamed: 0,Date,Tot cases,New cases,Tot Deaths,New Deaths,Total Recovered,Active Cases,Serious,Tot C par million,...,Total Test,Tot T par million,Country,Continent,index,population,New Recov,col1,col2,col3
0,0,2020-05-01,19224.0,1425.0,1859.0,127.0,11423.0,5942.0,378.0,149.0,...,81912.0,635.0,Mexico,North America,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020-05-02,20739.0,1515.0,1972.0,113.0,12377.0,6390.0,378.0,161.0,...,91188.0,707.0,Mexico,North America,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020-05-03,22088.0,1349.0,2061.0,89.0,13447.0,6580.0,378.0,171.0,...,93791.0,727.0,Mexico,North America,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020-05-04,23471.0,1383.0,2154.0,93.0,13447.0,7870.0,378.0,182.0,...,93791.0,727.0,Mexico,North America,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020-05-05,26025.0,1120.0,2507.0,236.0,16810.0,6708.0,378.0,202.0,...,100041.0,776.0,Mexico,North America,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,72,2020-07-12,295268.0,6094.0,34730.0,539.0,180852.0,79686.0,378.0,2289.0,...,723668.0,5611.0,Mexico,North America,8.0,128973689.0,3755.0,437.0,3714.0,178.0
73,73,2020-07-13,299750.0,4482.0,35006.0,276.0,184764.0,79980.0,378.0,2324.0,...,728484.0,5648.0,Mexico,North America,8.0,128973689.0,3912.0,430.0,3684.0,177.0
74,74,2020-07-14,304435.0,4685.0,35491.0,485.0,189063.0,79881.0,378.0,2360.0,...,739922.0,5737.0,Mexico,North America,7.0,128977388.0,4299.0,424.0,3634.0,174.0
75,75,2020-07-15,311486.0,7051.0,36327.0,836.0,193976.0,81183.0,378.0,2415.0,...,756137.0,5862.0,Mexico,North America,7.0,128981086.0,4913.0,414.0,3551.0,171.0
76,76,2020-07-16,317635.0,6149.0,36906.0,579.0,199129.0,81600.0,378.0,2463.0,...,768457.0,5958.0,Mexico,North America,8.0,128984785.0,5153.0,406.0,3495.0,168.0

In [4]:
df.columns

Index(['Unnamed: 0', 'Date', 'Tot cases', 'New cases', 'Tot Deaths',
       'New Deaths', 'Total Recovered', 'Active Cases', 'Serious',
       'Tot C par million', 'Deaths par million', 'Total Test',
       'Tot T par million', 'Country', 'Continent', 'index', 'population',
       'New Recov', 'col1', 'col2', 'col3'],
      dtype='object')

In [12]:
df['New Recov'] = df['New Recov'].fillna(0)

In [13]:
df['New Recov']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
72    3755.0
73    3912.0
74    4299.0
75    4913.0
76    5153.0
Name: New Recov, Length: 77, dtype: float64

In [18]:
end > datetime.datetime.strptime("2020-07-30", "%Y-%m-%d")

False

In [28]:
listeDates("2020-06-01",datetime.datetime.today())

['2020-06-01',
 '2020-06-02',
 '2020-06-03',
 '2020-06-04',
 '2020-06-05',
 '2020-06-06',
 '2020-06-07',
 '2020-06-08',
 '2020-06-09',
 '2020-06-10',
 '2020-06-11',
 '2020-06-12',
 '2020-06-13',
 '2020-06-14',
 '2020-06-15',
 '2020-06-16',
 '2020-06-17',
 '2020-06-18',
 '2020-06-19',
 '2020-06-20',
 '2020-06-21',
 '2020-06-22',
 '2020-06-23',
 '2020-06-24',
 '2020-06-25',
 '2020-06-26',
 '2020-06-27',
 '2020-06-28',
 '2020-06-29',
 '2020-06-30',
 '2020-07-01',
 '2020-07-02',
 '2020-07-03',
 '2020-07-04',
 '2020-07-05',
 '2020-07-06',
 '2020-07-07',
 '2020-07-08',
 '2020-07-09',
 '2020-07-10',
 '2020-07-11',
 '2020-07-12',
 '2020-07-13',
 '2020-07-14',
 '2020-07-15',
 '2020-07-16']

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/RIALI-MOUAD/Covid19-datasets/master/fichier_base2020-07-16.csv')

In [5]:
df

,index,Country,Tot cases,New cases,Tot Deaths,New Deaths,Total Recovered,New Recov,Active Cases,Serious,Tot C par million,Deaths par million,Total Test,Tot T par million,population,Continent,col1,col2,col3
0,1,USA,3680211,63384,140950,806,1672243,26281,1867018,16440,11116,426.0,45514103,137471,331081677,North America,90,2349,7.0
1,2,Brazil,2012151,41242,76688,1165,1366775,111211,568688,8318,9464,361.0,4911063,23098,212620008,South America,106,2773,43.0
2,3,India,1005637,35468,25609,680,636602,22867,343426,8944,728,19.0,12739490,9228,1380530110,Asia,1373,53908,108.0
3,4,Russia,752797,6428,11937,167,531692,8443,209168,2300,5158,82.0,24053516,164821,145937175,Europe,194,12226,6.0
4,5,Peru,341586,3862,12615,198,230994,4594,97977,1302,10355,382.0,2003963,60747,32988703,South America,97,2615,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,British Virgin Islands,8,-1,1,-1,7,-1,0,-1,265,33.0,439,14518,30239,North America,3780,30239,69.0
211,212,St. Barth,6,-1,-1,-1,6,-1,0,-1,607,-1.0,507,51326,9878,North America,1646,-1,19.0
212,213,Anguilla,3,-1,-1,-1,3,-1,0,-1,200,-1.0,380,25320,15008,North America,5003,-1,39.0
213,214,Saint Pierre Miquelon,2,-1,-1,-1,1,-1,1,-1,345,-1.0,-1,-1,5793,North America,2897,-1,NaN
214,215,China,83612,1,4634,-1,78719,26,259,3,58,3.0,90410000,62814,1439323776,Asia,17214,310601,16.0